.pokedex-container {
    padding: 40px 20px;
    min-height: 100vh;
    background: linear-gradient(to bottom, #f44336, #ffccbc); // fundo tipo pokébola
    color: #fff;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
    h2 {
      font-size: 2.5rem;
      margin-bottom: 30px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }
  }
  
  .pokemon-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    padding: 0 20px;
    justify-items: center;
    animation: fadeIn 1s ease-in-out;
  }
  
  // Animação para suavidade na entrada
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @media (max-width: 768px) {
    .pokedex-container h2 {
      font-size: 2rem;
    }
  }
  